<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>

	<!-- 自动扫描dao和service包(自动注入) -->
	<context:component-scan base-package="com.wd.dao,com.wd.service" />

	<!-- 数据库连接池 -->
    <bean id="dataSource" 
    class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value = "com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="jdbcUrl" value= "jdbc:sqlserver://localhost:1433;database=UpdateServer;integratedSecurity=false"/>
		<property name="user" value= "ups" />
		<property name="password" value= "f5gubS0ZYG" />
		
		<!-- c3p0连接池的私有属性 -->
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<!-- 关闭连接后不自动commit -->
		<property name="autoCommitOnClose" value="false" />
		<!-- 获取连接超时时间 -->
		<property name="checkoutTimeout" value="10000" />
		<!-- 当获取连接失败重试次数 -->
		<property name="acquireRetryAttempts" value="2" />
	</bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSource" />
  		<property name="configLocation" value="classpath:mybatis.xml"/>   
  		<property name="mapperLocations" value="classpath*:mapper/*.xml" />
  		
  		<!-- 事务管理 -->
  		<property name="transactionFactory">
    		<bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
  		</property>  
  	
	</bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
  		<constructor-arg index="0" ref="sqlSessionFactory" />
  		<!-- 批量 SqlSession -->
  		<constructor-arg index="1" value="BATCH" />  
    </bean>
    

    
    <!-- 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!-- 给出需要扫描Dao接口包 -->
		<property name="basePackage" value="com.wd.dao" />
	</bean>
          
          
 
    
          
</beans>
